
.projects .sub-title{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-bottom: 20px;
    font-family:  'Montserrat', sans-serif;
}


.projects .sub-section{
    color: white;
    background: black;
    padding: 35px 25px;
    margin: 20px 0;
    border-radius: 10px;
}

/* Carousel */
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid cyan!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: cyan!important;
}

/* Cards */
.projects .carousel .card{
    background: #222222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid white;
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .carousel .card .btn{
    padding: 7px 12px;
    margin-top: 5px;
    font-size: 17px;
}
